<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find manipulators_description)/urdf/scara.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manipulators_description)/cfg/manipulators.rviz" required="true" />
</launch>