<launch>
  <!-- param name="robot_description" command="$(find xacro)/xacro $(find theta_theta_description)/urdf/theta_rho.urdf"/ -->
  <param name="robot_description" command="$(find xacro)/xacro $(find theta_theta_description)/urdf/theta_theta.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find theta_theta_description)/cfg/theta_theta.rviz" required="true" />
</launch>
